@model IEnumerable<sso.ViewModel.xmlAppSettingsModel>

@{
    ViewBag.Title = "AppSettings";
    string configFile = (!string.IsNullOrEmpty(ViewBag.configFile) ? ViewBag.configFile : "");
}

<h2>AppSettings</h2>

<p>
    
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th width="10%">
            @Html.DisplayNameFor(model => model.key)
        </th>
        <th width="70%">
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th width="30%">Ação</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.key)
        </td>
        <td>
            @{ if (!string.IsNullOrEmpty(item.Value))
                {
                    foreach (var mail in item.Value.Split(';'))
                    {
            <span>@mail</span><br />
                    }
                }
            }
            
        </td>
        <td>
            @Html.ActionLink(" Editar", "EditSettings", new { key=item.key, configFile = configFile }, new { @class= "glyphicon glyphicon-edit" })
        </td>
    </tr>
}
</table>
