@model sso.Models.UsuarioLoginPage

@{
    ViewBag.Title = "TrocaSenha";
}

@{
    using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (!Model.foiEditado)
    {
        <h3 tabindex="3" class="form-title" style="margin-top:0px;">Trocar Senha</h3>
        <div id="sendform">
            <div class="form-group">

                <div class="col-md-10">
                    @Html.LabelFor(model => model.strAtual)
                    <input class="form-control text-box single-line" required maxlength="8" size="8" id="login" name="strAtual" type="text" value="">
                    @Html.ValidationMessageFor(model => model.strAtual, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.strNova)
                    <input class="form-control text-box single-line" required maxlength="8" size="8" id="senha" name="strNova" type="text" value="">
                    @Html.ValidationMessageFor(model => model.strNova, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.strConfirma)
                    <input class="form-control text-box single-line" required maxlength="8" size="8" id="senha" name="strConfirma" type="text" value="">
                    @Html.ValidationMessageFor(model => model.strConfirma, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.strPut)
            @Html.HiddenFor(model => model.strPush)
            @Html.HiddenFor(model => model.j_idt10)
            @Html.HiddenFor(model => model.strUsuario)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="botaoLogin" value="Enviar" class="btn btn-default btn-primary" />
                </div>
            </div>
        </div>
    }
    else
    {
        <div id="alerta_alteracao">
            <form id="j_idt10" name="j_idt10" method="post" action="/sso/trocasenha" onsubmit="return submeteForm();" class="login-form" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="j_idt10" value="j_idt10">
                <h3 tabindex="3" class="form-title" style="margin-top:0px;">Trocar Senha</h3>
                <div class="alert alert-danger ">
                    <span tabindex="4">Sua senha foi alterada com sucesso.</span>
                    <button role="button" class="close" data-close="alert"></button>
                </div>
                <div class="form-actions">
                    <a tabindex="10" role="button" id="botaoVoltarLogin" href="/home/menu" class="btn login-button pull-right">Acessar o Sistema<i class="fa fa-angle-right"></i></a>
                </div>
            </form>
        </div>
    }
</div>
    }
}

